<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="../static/custom.css">
    <title>friday pwrhr</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">back</a>
    </nav>
    <h1 class="gradient">friday random time</h1>
    <blockquote>Command: <code>int(np.random.rand() * 60)</code></blockquote>
  </header>

  <main>
    <pre>
    <code>
{{ main_contents }}
    </code>
    </pre>
    
  </main>

  <footer>
    <p></p>
  </footer>
</body>
</html>